name: meet-v1
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: laravel-meet-v1-app
    container_name: meet-v1-app
    restart: unless-stopped
    tty: true
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - app-network

  web:
    image: nginx:alpine
    container_name: meet-v1-web
    restart: unless-stopped
    tty: true
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/conf.d/:/etc/nginx/conf.d/
    networks:
      - app-network
    depends_on:
      - app

  db:
    image: mysql:5.7
    container_name: meet-v1-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: laravel_web2
      MYSQL_ROOT_PASSWORD: johnny
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  dbdata:
    driver: local
